<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>ランダムメモ</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>


<%
if 1 == 1   # ログイン中の場合
	link = '/add' # サーバーで処理
else 1 == 0 # ログアウト中の場合
	link = './' 
	action = 'getWord()' # csvデータ取得して、ローカルストレージに追加
end 
%>

<!-- 新しいワード追加ボタン -->
<div class='text-center mb-4'>
			<a href='<%= link %>' class='btn btn-primary text-center' onclick='<%= action %>'>新しいワードを追加 ＋</a>
			<!-- <form action='' method='get'> -->
			<!-- <input type='submit' name='make' value='ワードを追加 ＋' class='btn'> -->
</div>


<table class='table table-sm'>
  <tbody id='tb'>
  </tbody>
</table>


<script>
if(1 == 0){ // ログインしてない場合は、ローカルストレージのデータと連携
	////// この処理は、「新規」ボタンが押されたときのみ。そして本来jsファイルの方に書く
	// var getWord = function(){  
		// ローカルストレージに保存
		uuid = getUniqueStr(); // ユニークなIDを取得　
		var Key = 'randomMemo_'+uuid; // このサイト特有の文字列を組み合わせる
		var _name = '<%= @word_ja %>'; // ワードを生成してセット
		var _star = 0; // 始めはスターなし
		var _visit = 0; // 始めは訪れてない
		saveStorage(Key,_name,_star,_visit); 
	// }
}
</script>

</body>
</html>
