<h1>ユーザー編集</h1>

<!-- エラーメッセージ -->
<% @user.errors.full_messages.each do |message| %>
	<%= message %>
	<br>
<% end %>

<%= form_tag("/user/#{@user.id}/update") do %>
	<p>ユーザー名	<input name='name' value='<%= @user.name %>'></p>
	<p>メールアドレス<input name='email' value='<%= @user.email %>'></p>
	<input type='submit' value='更新'>
<% end %>