<h1>ユーザー一覧</h1>

<table class='table'>
	<tr>
		<th>ID</th>
		<th>名前</th>
		<th>メール</th>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= link_to(user.name, "/user/#{user.id}") %></td>
			<td><%= user.email %></td> 
		</tr>
	<% end %>
</table>