<h1>新規ユーザー登録</h1>
<!-- 最初は、コントローラーで　@user = User.new と空指定してる -->

<!-- エラーメッセージ -->
<div class='my-4 text-danger'>
	<% @user.errors.full_messages.each do |message| %> <!-- saveした時にエラーあったら -->
		<div class='mb-1'>※ <%= message %></div>
	<% end %>
</div>

<%= form_tag('/user/create') do %>
	<p>ユーザー名	<input name='name' value='<%= @user.name %>'><!-- 最初は空 --> </p> 
	<p>メールアドレス <input name='email' value='<%= @user.email %>'><!-- 最初は空 --> </p>
	<input type='submit' value='登録'>
<% end %>