<h1>新規ユーザー登録</h1>

<!-- エラーメッセージ -->
<% @user.errors.full_messages.each do |message| %>
	<%= message %><br>
<% end %>

<%= form_tag('/user/create') do %>
	<p>ユーザー名	<input name='name' value='<%= @user.name %>'></p>
	<p>メールアドレス<input name='email' value='<%= @user.email %>'></p>
	<input type='submit' value='登録'>
<% end %>