@import 'bootstrap'; 

// リンク
a{
	color: #000
}
a, a:hover{
	text-decoration:none;
}


// ナビゲーションの色
nav a{
	color:#fff;
}
nav a:hover{
	color:#aaa;
}



// 新ワードボタン

#get_word.btn-warning {
	color: white;
  background-color: #ee6e00;
  border-color: #ee6e00;
}
#get_word.btn-warning:hover {
  background-color: #dd6e00;
  border-color: #dd6e00;
}


// はてなマークをランダムに配置
@for $i from 1 through 10 {
  .hatena#{$i} {
		color: #ee6e00;
		position: absolute;

		font-size: 1 + random(10)*0.1 + em;
		transform: rotate(- random(90) + 45deg); // 角度は -45 〜 90 度
		opacity: random(5)*0.1; // 透明度は0.1〜0.5
		left: random(100)#{'%'};
		top:random(100)#{'%'};
	} 
}


// テーブルの下線の色
.table > tbody > tr > td{ // Google
    border-top: 2px solid #dee2e6 // 黒
}
.table.red > tbody > tr > td{ // Youtue
    border-top: 2px solid #fbb; // 赤
}
.table.blue > tbody > tr > td{ // Twitter
    border-top: 2px solid #adf; // 青
}

// テーブル行の高さ
tr{
	//min-height: 40px;
}


// サイトタグ切り替え
.mute{
	opacity:0.2
}


// Newの色
.new{
	color: #fbb
}


// 検索ワード
.word a{
	color: #000;
	font-weight:bold;
}

// 単語ホバー
.table .word a:hover{ // Google
	color: #777; // グレー
}
.table.red .word a:hover{ // Youtue
	color: #f77; // 赤
}
.table.blue .word a:hover{ // Twitter
	color: #0af; // 青
}


// 訪問済みかどうかで変化を与える
.word a:link{
} 
.word a:visited {
}



// 星の色
.star{
	color: #ffcc00 !important;
	cursor: pointer;
}
.star:hover{
	color: #ffbf00 !important;
}

.nostar{
	color: rgba(235,235,235,1) !important;
	cursor: pointer;
}
.nostar:hover{
	color: rgba(200,200,200,1) !important;
}


// ごみ箱の色　
.trash{
	color:rgba(180,180,180,1) !important; 
	cursor: pointer;
}
.trash:hover{
	color:rgba(100,100,100,1) !important;
}


// rowの横幅12分の1.5
@media screen and (max-width:575px) { // 小スマホ限定
	.col-1_half {
	    flex: 0 0 12.5%;
	    max-width: 12.5%;
	}
}
