@import 'bootstrap'; 

// リンク
a{
	color: #000
}
a, a:hover{
	text-decoration:none;
}

// サイト切り替え
.mute{
	opacity:0.2
}

// 新ワードボタン
#get_word.btn-warning {
	color: white;
  background-color: #ee6e00;
  border-color: #ee6e00;
}
#get_word.btn-warning:hover {
  background-color: #dd6e00;
  border-color: #dd6e00;
}

// ナビゲーションの色
nav a{
	color:#fff;
}
nav a:hover{
	color:#aaa;
}

// Newの色
.new{
	color: #fbb
}

// 星の色
.star{
	color: #ffcc00 !important;
	cursor: pointer;
}
.star:hover{
	color: #ffbf00 !important;
}

.nostar{
	color: rgba(235,235,235,1) !important;
	cursor: pointer;
}
.nostar:hover{
	color: rgba(200,200,200,1) !important;
}


// ごみ箱の色　
.trash{
	color:rgba(180,180,180,1) !important; 
	cursor: pointer;
}
.trash:hover{
	color:rgba(100,100,100,1) !important;
}


// テーブルの下線の色
.table.red > tbody > tr > td{ // Youtue
    border-top: 1px solid #fbb; // 赤
}
.table.blue > tbody > tr > td{ // Twitter
    border-top: 1px solid #adf; // 青
}

// 単語ホバー
.table .word a:hover{ // Google
	color: #777; // グレー
}
.table.red .word a:hover{ // Youtue
	color: #f77; // 赤
}
.table.blue .word a:hover{ // Twitter
	color: #0af; // 青
}


// テーブル行の高さ
tr{
	//min-height: 40px;
}

// 検索ワード
.word a{
	color: #000;
	font-weight:bold;
}


// 訪問済みかどうかで変化を与える
.word a:link{
} 
.word a:visited {
}


