/*リセット*/
html, body, span, h1, h2, h3, h4, p, a,i, ul, li, table, tbody , thead, tr, th, td{
    margin: 0;
    padding: 0;
}

/*白は眩しいから開発中は薄暗く*/
body{background-color: #ddd;}

/*ボタン*/
h2{height:50px;}
.btn{font-size:20px;}

/*テーブル*/
table{border-collapse: collapse;}

/*リンク*/
a{
	text-decoration: none;
	display: block; 
	padding:8px;
  height: 30px;
  line-height: 30px;
  /*background-color: #def;*/
}


/*新しい検索ワード*/
a:link{
	/*background-color: #def;*/
} 
a:visited {
	/*background-color: #fff;*/
}
a:hover {
   /*color: static;*/
}
td{
	/*background-color: #ef4*/
}
/*スターの色*/
.light{color: rgba(235,235,235,1);}
.light:hover{color: rgba(200,200,200,1);}
.yellow{color: #ffcc00;}
.yellow:hover{color: #ffbf00;}


/*ゴミ箱の色*/
.trash{color:rgba(180,180,180,1);}
.trash:hover{color:rgba(100,100,100,1);}

/*カーソルポインタ*/
.point{cursor: pointer;}